@inherits DeviceConnectionStatusComponent

@if (IsOnline)
{
    <span class="dot__green"></span>
    <span class="dot__text">Online</span>
}
else
{
    <span class="dot__red"></span>
    <span class="dot__text">Offline</span>
}

@code {


}
