@page "/"

<p>Welcome to the Blazor Boilerplate app / starter template.</p>
<p>
    <strong>Blazor Boilerplate </strong> is now a fairly mature repository thanks to time and contributors. Our goal is to be an <strong>enterprise level solution</strong>, to jump start your new web project with Blazor.
    It's based on Blazor &amp; Razor components for both Client-Side [WebAssembly] (CSB) or Server-Side (SSB) with the .Net Core Framework 3.1+.
    Expect a lot of changes in the future as Blazor is growing and changing rapidly. <a href="https://blazorboilerplate.com/swagger/index.html" target="_blank"> View the live server-side API</a>
</p>
